*  {
  margin: 0px;
  padding:0px;
}
body {
  background-color: #FFB3A5;
  margin-top: .5in;
}
.taskSub{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-bottom: .2in;
  text-align: center;
}
.priority{
  font-family: 'Muli', sans-serif;
  text-align:center;
}
.box{
  width:75%;
  height: 30px;
  font-size: 14px;
  margin-bottom: .2in;
  margin-right: .1in;
  font-family: 'Muli', sans-serif;
}
button{
  font-family: 'Muli', sans-serif;
  height: 35px;
  width: 50px;
}
.parent-div{
  border: 5px dashed white;
  display: flex;
  justify-content: space-around;
}
.one{
  border: 2px solid black;
  width: 30%;
}
.two{
  border: 2px solid black;
  width: 30%;
}
.three{
  border: 2px solid black;
  width: 30%;
}
