*  {
  margin: 0px;
  padding:0px;
}
body {
  background-color: #FFB3A5;
  margin-top: .5in;
}
.taskSub{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-bottom: .2in;
  text-align: center;
}
.priority{
  font-family: 'Muli', sans-serif;
  text-align:center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.box{
  width:75%;
  height: 30px;
  font-size: 14px;
  margin-bottom: .2in;
  margin-right: .1in;
  font-family: 'Muli', sans-serif;
}
button{
  font-family: 'Muli', sans-serif;
  height: 35px;
  width: 50px;
}
.parent-div{
  display: flex;
  justify-content: space-around;
}
.one{
  border: 2px solid black;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.two{
  border: 2px solid black;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.three{
  border: 2px solid black;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.list{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}
.enterName{
  font-family: 'Muli', sans-serif;
}

@media screen and (max-width: 700px) {
  .parent-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .one{
    width:90%;
    margin-bottom: .2in;
  }
  .two{
    width:90%;
    margin-bottom: .2in;
  }
  .three{
    width:90%;
    margin-bottom: .2in;
  }
  }

  }
}
